html, body {
    width: 300px;
}
  
.singleevent {
    width: 100%;
    padding: 4px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}

.singleevent:hover {
    background-color: #CFF2F2;
}